<%- include("partials/header.ejs") %>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/sunset-girl.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">A little bit more about me.</h1>
        <p class="lead">Vivamus laoreet nibh bibendum posuere vehicula. 
          Pellentesque tincidunt ut nunc egestas placerat. 
          Morbi arcu erat, lobortis vitae libero eget, vulputate blandit tortor. 
          Nunc feugiat augue non scelerisque faucibus. Nam quis porttitor ex, id commodo risus. 
          Proin volutpat velit laoreet, suscipit est nec, rhoncus nulla. Pellentesque varius congue justo et aliquet.</p>
      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>